.authContainer {
  background-color: rgb(248, 239, 239);
  height: 35em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

.usernameContainer {
  display: block;
  margin-bottom: 1em;
  margin-top: 2em;
}

.usernameText {
  margin-left: 1em;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
}

.passwordContainer {
  display: block;
  margin-bottom: 1em;
}

.passwordText {
  margin-left: 1em;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
}

.auth {
  background-color: #d2c6b6;
  border-radius: 50px;
  padding: 0.5em 0 3em 0;
  margin: 5em 25em 0 25em;
}

@media (max-width: 600px) {
  .auth {
    margin: 5em 2em 0 2em;
  }
}

@media (min-width: 601px) {
  .auth {
    margin: 5em 2em 0 2em;
  }
}

.username {
  font-weight: bold;
}

.password {
  font-weight: bold;
}

.loginButton {
  background-color: rgb(248, 239, 239);
  border-radius: 1em;
  border: 1px solid gray;
  font-size: 1.1em;
  margin-bottom: 0.7em;
  padding: 0.3em 1em 0.3em 1em;
  cursor: pointer;
}

.loginButton:hover {
  box-shadow: 1px 1px 1px 1px;
}

.loginNote:hover {
  text-decoration: underline;
  font-weight: bold;
}
