.navbar {
  padding: 10px 5%;
  box-sizing: border-box;
  width: 100%;
  background-color: #004aad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  color: var(--text-color);
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}

.logo-image {
  width: 100px; /* Adjust the size of your logo */
  height: auto;
}

.navbar a:visited {
  color: white;
  text-decoration: none;
}

/* navbar style general navbar */
menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

/* navbar style for the content */
.navbar-line {
  list-style: none;
  padding: 5px 10px;
}

/* navbar font */
.navbar-line a {
  list-style: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar-left {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}

.navbar-left-logo {
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  list-style: none;
  text-decoration: none;
}

.navbar-left-logo a {
  text-decoration: none;
  color: white;
}
